@media screen and (max-width:1005px) {
    
    .navbar {

        position: relative;

    }
    
    
    .menu {

        display: none;


    }


    .logo {

        margin: 0;
        text-align: center;


    }


    .header {

        padding-top: 50px;

    }


    .head-line {

        flex: 100%;
        text-align: center;


    }


    .head-line p {

        text-align: center;


    }



     .imgh {

        flex: 100%;
        margin: 5%;


     }   


     .whats {

        display: none;

     }


     .card {

        width: 100%;


     }

}